* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 20px 0px;
    text-align: center;
}

.container-fluid {
    max-width: 760px;
    min-width: 350px;
}

.row {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    background: rgb(52, 55, 57);
    color: #F0F0F0;
}

.button {
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
    color: #fff;
}

.button:active {
    cursor: pointer;
    opacity: 0.4;
    color: #fff;
}

.screen {
    text-align: right;    
}

.main-screen {
    font-size: 3rem;
    padding: 0 2rem;
    background: rgb(77, 80, 82);
    border-radius: 0 0 5px 5px;
    min-height: 72px;   
}

.secondary-screen {
    font-size: 1.5rem;
    background: rgb(77, 80, 82);
    margin-top: 1rem;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    padding: 0 2rem;
    color: #A0A0A0;
    min-height: 36px;    
}

.button.number {
    background: grey;    
}

.button.operator {
    background: rgb(74, 106, 110);
}

.button.equals {
    background: rgb(64, 129, 102);
}

.button.del-reset {
    background: rgb(145, 114, 68);
}